<div class="container shadow header">
	<div class="row">
		<div class="col-sm-3 logo-container">
			<a href="/events" class="logo"><img src="/img/logo.png" alt="BASES"></a>
		</div>
		<div class="col-sm-2 col-sm-offset-7 logout-container">
			<a href="/logout" class="btn logout">Logout</a>
		</div>
	</div>
</div>
