.dashboard {
    margin-top: 20px;
}
hr {
	border-top-color: #aaa;
	margin-left: 20px;
	margin-right: 20px;
}
.square {
    background-color: #fff;
    float: left;
    margin: 1%;
    overflow: hidden;
    padding-bottom: 23%; /* = width for a 1:1 aspect ratio */
    position: relative;
    width: 23%;
}
.content {
    color: #5C5C5C;
    height: 100%;
    position: absolute;
    width: 100%;
}
.content:hover,
.content:active,
.content:focus {
    background-color: #C7DCF6;
	color: #5C5C5C;
	text-decoration: none;
}
.content .fa {
    color: #458DD9;
    display: inline;
}
.table {
    display: table;
    height: 100%;
    width: 100%;
}
.table-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.large {
	font-size: 200px;
	font-weight: 100;
	line-height: 100px;
}
.event-name {
    align-items: center;
    display: flex;
    font-size: 28px;
    height: 74%;
}
.event-name .text-center {
    width: 100%;
}
.event-attendees,
.event-details {
    height: 13%;
}
.event-attendees {
    line-height: 1em;
}
.attendee-count {
    font-size: 40px;
}
.event-details div {
    padding: 0 5px;
}
.event-date,
.event-location {
    font-size: 18px;
}
