.header {
	background-color: #fff;
	margin: 0;
	width: 100%;
}
.logo-container {
	padding: 10px 0;
}
.logo {
	padding: 0 20px;
}
.logo img {
	height: 60px;
}
.logout-container {
	height: 80px;
	padding-right: 0;
}
.logout {
	align-items: center;
	background-color: #4D92DF;
	border-radius: 0;
	color: #fff;
	display: flex;
	float: right;
	font-size: inherit;
	height: 100%;
}
.logout:hover {
	color: #fff;
}
